.container {
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 600px;
    min-width: 450px;
    gap: 20px;
}

.layoutgrid {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: darkcyan;
    font-size: 30px;
}

#resultsgrid {
    grid-column: span 2;
}

#generateNumberButton {
    padding: 8px 15px;  /* Add some padding to the button */
    margin: 10px;
    font-size: 16px;  /* Button text size */
}

#playerInput {
    padding: 8px 15px;  /* Add some padding to the button */
    margin: 10px;
    font-size: 16px;  /* Button text size */
}